<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#db0000"/>
    <title>Restaurant Apps Starter Project</title>
    <link rel="icon" href="/icons/icon.png" type="image/x-icon">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/icon.png">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <script src="https://kit.fontawesome.com/38b8bddb52.js" crossorigin="anonymous"></script>
</head>
<body>
    <a href="#maincontent" class="skip-link">Skip to content</a>
    <header>
        <nav class="navbar">
            <!-- Logo -->
            <h1 class="logo">Eaty</h1>
            <!-- menu -->
            <button id="hamburger-button" class="hamburger" aria-label="toggle menu">
                <i class="bar-icon fas fa-bars"></i>
                <i class="close-icon fas fa-times"></i>
            </button>
            <ul class="nav-links ">
                <li>
                    <a class="nav" href="#/">Home</a>
                </li>
                <li>
                    <a class="nav" href="#/favorite">Favorite</a>
                </li>
                <li>
                    <a class="nav" href="https://www.linkedin.com/in/al-feliq-akbar/">About Us</a>
                </li>
            </ul>
        </nav>
    </header>
    <main tabindex="0" id="content">
      <section class="jumbotron">
          <div class="hero-wrapper">
              <h2 class="hero-title">WELL SERVED!</h2>
              <p class="hero-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
      </section>
      <section id="maincontent" class="menu">
          <h2 class="menu-title">Explore Menu</h1>
          <hr>
          <div class="menu-list">
              
          </div>
      </section>
    </main>
    <footer>
        <p>Copyright 2021 - Hunger Apps</p>
    </footer>
</body>
</html>
