<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#db0000"/>
    <title>Restaurant Apps Starter Project</title>
    <link rel="icon" href="/icons/icon.png" type="image/x-icon">
    <link rel="manifest" href="manifest.json">
    <link rel="apple-touch-icon" href="/icons/icon.png">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <script src="https://kit.fontawesome.com/38b8bddb52.js" crossorigin="anonymous"></script>
</head>
<body>
    <a href="#maincontent" class="skip-link">Skip to content</a>
    <header>
        <nav class="navbar">
            <!-- Logo -->
            <h1 class="logo">Eaty</h1>
            <!-- menu -->
            <button id="hamburger-button" class="hamburger" aria-label="toggle menu">
                <i class="bar-icon fas fa-bars"></i>
                <i class="close-icon fas fa-times"></i>
            </button>
            <ul class="nav-links ">
                <li>
                    <a class="nav" href="#/">Home</a>
                </li>
                <li>
                    <a class="nav" href="#/favorite">Favorite</a>
                </li>
                <li>
                    <a class="nav" href="https://www.linkedin.com/in/al-feliq-akbar/">About Us</a>
                </li>
            </ul>
        </nav>
    </header>
    <main tabindex="0" id="content">
      <section class="jumbotron">
          <div class="hero-wrapper">
              <h2 class="hero-title">WELL SERVED!</h2>
              <p class="hero-desc">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
          </div>
      </section>
      <section id="maincontent" class="menu">
          <h2 class="menu-title">Explore Menu</h1>
          <hr>
          <div class="menu-list">
              <!-- <article class="menu-item">
                  <img class="menu-item-img" src="https://dicoding-restaurant-api.el.r.appspot.com/images/medium/29" alt="Gambar makanan pangsit">
                  <div class="menu-item-content">
                      <p class="menu-item-rating">Rating: 4.5</p>
                      <h1 class="menu-item-title"><a href="#">Pangsit Express</a></h1>
                      <p class="menu-item-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet.</p>
                  </div>
              </article> -->
              
          </div>
      </section>
    </main>
    <footer>
        <p>Copyright 2021 - Hunger Apps</p>
    </footer>
<!-- <h1>Restaurant Apps Starter Project</h1>
<p>Hallo coders! Anda berhasil menjalankan starter project.</p>
<p>Jangan lupa untuk menggunakan salah satu gambar yang berada pada ./images/heros sebagai background hero elemen</p>
<img src="./images/heros/hero-image_1.jpg" width="450" alt="">
<img src="./images/heros/hero-image_2.jpg" width="450" alt="">
<img src="./images/heros/hero-image_3.jpg" width="450" alt="">
<img src="./images/heros/hero-image_4.jpg" width="450" alt=""> -->

</body>
</html>
