/* Tampilkanlah minimal width 1000px pada  viewport width >= 1200px.
Jika ukuran viewport width < 1200px, maka hero element ditampilkan full-width. */

.jumbotron{
  background: url("/images/hero-image_2.webp") no-repeat;
  background-position: center;
  width: 100%;
  min-height: 400px;
  display: flex;
  align-items: center;
  text-align: center;
}

.hero-wrapper{
  max-width: 500px;
  padding: 10px 20px;
  margin: 0 auto;
  background: rgb(145, 31, 39, 0.8);
  border-radius: 20px;
}

.hero-title{
  font-size: 40px;
  color: rgb(252, 240, 200);
}

.hero-desc{
  color: rgb(252, 240, 200);
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .jumbotron{
    background: url("/images/hero-image_2-large.jpg") no-repeat;
    background-position: center;
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .jumbotron{
    background: url("/images/hero-image_2-small.jpg") no-repeat;
    background-position: center;
    width: 100%;
    min-height: 250px;
    object-fit: cover;
    object-position: center;
    display: flex;
    align-items: center;
    text-align: center;
  }
}